---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>
  <p class="pb-3">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lobortis mattis aliquam faucibus purus in massa tempor nec feugiat. Id diam vel quam elementum pulvinar etiam non. Augue mauris augue neque gravida in fermentum. Eget lorem dolor sed viverra ipsum nunc aliquet bibendum enim. A diam sollicitudin tempor id eu. Dignissim convallis aenean et tortor at risus viverra. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Condimentum vitae sapien pellentesque habitant morbi tristique senectus et. Parturient montes nascetur ridiculus mus mauris vitae. Aliquam ultrices sagittis orci a scelerisque purus semper. Felis imperdiet proin fermentum leo vel orci. Leo urna molestie at elementum eu facilisis sed odio morbi.
  </p>
  <p class="pb-3">
    Mattis aliquam faucibus purus in massa tempor nec. Laoreet suspendisse interdum consectetur libero. Elementum sagittis vitae et leo duis ut diam. At auctor urna nunc id cursus metus aliquam eleifend mi. Mauris nunc congue nisi vitae suscipit tellus mauris a diam. Euismod quis viverra nibh cras pulvinar. Ultrices vitae auctor eu augue ut lectus arcu bibendum at. Eget egestas purus viverra accumsan in nisl nisi scelerisque eu. Eleifend mi in nulla posuere sollicitudin aliquam. Risus viverra adipiscing at in tellus integer feugiat scelerisque. Ipsum consequat nisl vel pretium lectus quam id leo. Amet est placerat in egestas erat imperdiet. Ipsum faucibus vitae aliquet nec ullamcorper sit amet risus nullam. Lacus vestibulum sed arcu non. Gravida quis blandit turpis cursus in hac habitasse platea. Purus in mollis nunc sed id semper risus in.
  </p>
</BaseLayout>