---
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
const pageTitle = "Welcome";
---
<BaseLayout pageTitle={ pageTitle }>
	<div>
		<p class="pb-6">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Posuere ac ut consequat semper viverra nam libero justo. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque. Orci sagittis eu volutpat odio facilisis mauris. Duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat. Purus non enim praesent elementum facilisis leo. Bibendum enim facilisis gravida neque. Tempor orci eu lobortis elementum nibh tellus. Sit amet venenatis urna cursus eget. Aliquet lectus proin nibh nisl condimentum id venenatis. Dui accumsan sit amet nulla facilisi morbi tempus iaculis urna. Nam at lectus urna duis. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Accumsan lacus vel facilisis volutpat est velit egestas. Vulputate odio ut enim blandit volutpat. Eu consequat ac felis donec et. Pulvinar etiam non quam lacus suspendisse faucibus interdum. Pulvinar elementum integer enim neque volutpat ac. Neque aliquam vestibulum morbi blandit cursus risus at ultrices. Neque sodales ut etiam sit amet nisl purus.
		</p>
		<Button link="/pre-survey" label="Continue" />
	</div>
</BaseLayout>