---
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
const pageTitle = "Welcome";
---
<BaseLayout pageTitle={ pageTitle }>
	<div>
		<div class="pb-3">
			<p class="mb-3">
				Thank you for participating in OpenFuture’s Alignment Assembly on AI and the Commons. We’re very excited to hear what you think.
			</p>
			<p class="mb-3">
				Please first fill out a quick pre-survey, and you will be automatically directed to the assembly.
			</p>
			<p class="mb-3">
				Learn more about the project and read the FAQ here.
			</p>
		</div>
		<Button link="/pre-survey" label="Continue" />
	</div>
</BaseLayout>