---
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
const title = "Welcome";
---
<BaseLayout title={ title }>
	<div>
		<div class="pb-3">
			<p class="mb-3">
				Thank you for your interest in Open Future’s Alignment Assembly on AI and the Commons. We’re very excited to hear what you think.
			</p>
			<p class="mb-3">
				Please first fill out a quick pre-survey, and you will be automatically directed to the assembly.
			</p>
			<p class="mb-3">
				To learn more, read <a href="/about">about the project</a> or see <a href="/faq">our FAQ</a>.
			</p>
		</div>
		<hr class="pb-6" />
		<div class="pb-3">
			<p class="mb-3">
				Gracias por su interés en el sondeo de Alineación de Open Future sobre la IA y los Bienes Comunes. Estamos expectantes de  conocer tu opinión.
			</p>
			<p class="mb-3">
				Por favor, rellena primero una rápida encuesta previa y serás dirigido automáticamente a la plataforma.
			</p>
			<p class="mb-3">
				Obtén <a href="/about">más información sobre el proyecto y lee <a href="/about">sobre el proyecto</a> o revisa <a href="/faq">la sección de preguntas frecuentes</a>.
			</p>
		</div>
		<Button link="/pre-survey" label="Continue / Continuar" />
	</div>
</BaseLayout>