---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---
<style>
  .bg-yellow {
    background-color: #FCF000;
  }

  nav > ul > li.active,
  nav > ul > li:hover:not(:has(ul)) {
    background-image: url(/images/black-rectangle.svg);
    background-position: 0 100%;
    background-repeat: no-repeat;
  }

  .lg\:text-xs {
    font-size: 0.85rem;
    line-height: inherit;
  }

  nav > ul > li {
    float: left;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    padding: 1.5rem 0;
  }
</style>
<header class="max-w-screen-xl mx-auto bg-white grid grid-cols-12 pb-8">
  <div class="col-span-6 lg:col-span-4 col-start-2 lg:col-start-2 pt-4">
    <a href="/">
      <div class="font-chaney text-xs -mb-4">Open_Future</div>
      <div class="font-chaney text-3xl my-3 leading-10">Alignment Assembly</div>
    </a>
  </div>
  <div class="col-span-2 lg:col-span-7 col-start-11 lg:col-start-6">
    <nav class="bg-yellow absolute lg:static w-50 lg:w-auto top-0 right-0 lg:block h-auto lg:h-19 z-20 hidden">
      <ul class="text-md font-chaney lg:flex lg:justify-left lg:px-6 lg:text-xs xl:text-md">
        <li class:list={[ 'group', { active: currentPath === "" } ]}><a class="pr-8" href="/">Home</a></li>
        <li class:list={[ 'group', { active: currentPath.startsWith("pre-survey") } ]}><a class="pr-8" href="/pre-survey">Pre-survey</a></li>
        <li class:list={[ 'group', { active: currentPath.startsWith("participate") } ]}><a class="pr-8" href="/participate">Participate</a></li>
        <li class:list={[ 'group', { active: currentPath.startsWith("about") } ]}><a class="pr-8" href="/about">About</a></li>
      </ul>
    </nav>
  </div>
</header>