---
const { convoId, hideTitle, hideDescription } = Astro.props;
---
{/* Disable topic and description. */}
<div class="polis"
  data-conversation_id={ convoId }
  {...{"data-ucst": !!hideTitle }}
  {...{"data-ucsd": !!hideDescription }}
></div>
<script async src="https://pol.is/embed.js"></script>