---
---
<div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Warning
                </h3>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 space-y-4">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                  It looks like you’re returning to this conversation on a different device!
                </p>
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                  Please return to the device you used before to see your saved progress. If you continue here, you will have to start from the beginning.
                </p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
              <a href="/pre-survey" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center me-2">
                No, I wish to start a <br />second voting session here.
              </a>
            </div>
        </div>
    </div>
</div>
<script>
  const params = new URLSearchParams(document.location.search);
  const isReturn = params.get("return");

  const xid = localStorage.getItem("polisUserXid");
  const isDoneSurvey = localStorage.getItem("isDoneSurvey");

  function isMissingSessionData() {
    return !xid || !isDoneSurvey;
  }

  if (isReturn) {
    if (isMissingSessionData()) {
      // Returning, but missing session data.
      const elem = document.getElementById("static-modal");
      const modal = new Flowbite.default.Modal(elem, { backdrop: "static", closable: false });
      modal.show();
    } else {
      // Remove ?return=true from browser history, so less chance of sharing link.
      history.replaceState({}, "", "/participate");
    }
  } else if (isMissingSessionData()) {
    // Arriving without any session history, so redirect to front page.
    // TODO: Consider still warning when someone visits this page directly.
    window.location.replace("/");
  }
</script>
