---
const { formId, enableSandbox }  = Astro.props;
---
<div
  id="myTypeform"
  {...{"data-tf-enable-sandbox": enableSandbox}}
  data-tf-on-submit="onTypeformSubmit"
  data-tf-widget={ formId }
  data-tf-opacity="100"
  data-tf-hide-headers
  data-tf-inline-on-mobile
  data-tf-iframe-props="title=Testing"
  data-tf-transitive-search-params
  data-tf-medium="snippet"
  style="width:100%;height:500px;"
  data-tf-hidden="xid=null">
</div>
<script>
  import "../scripts/generateXid.js";
  import "../scripts/setHiddenTypeformAttr.js";
</script>
<script is:inline src="//embed.typeform.com/next/embed.js"></script>
<script is:inline>
  // const xid = localStorage.getItem('xid');
  function onTypeformSubmit(data) {
    console.log('form submitted', data)
    //document.cookie = `xid=${xid}; SameSite=None; Secure`;
    window.location.replace("/participate");
  }
</script>
