---
import NavBar from '../components/NavBar.astro';

// Render environment banners when needed.
import Banner from '../components/Banner.astro';
const isDev = import.meta.env.DEV;
const isTest = import.meta.env.IS_TESTING;
let envMode = '';
if (isDev) {
	envMode = "development";
} else if (isTest) {
	envMode = "testing";
}

const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
		<title>{ pageTitle }</title>
	</head>
	<body>
		<Banner mode={envMode} />
		<NavBar />
		<main>
			<div class="max-w-screen-xl mx-auto p-4">
			<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">{ pageTitle }</h1>
			<slot />
			</div>
		</main>
		<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
	</body>
</html>
