---
import NavBar from '../components/NavBar.astro';

// Render environment banners when needed.
import Banner from '../components/Banner.astro';
const isDev = import.meta.env.DEV;
const isTest = import.meta.env.IS_TESTING === "true";
let envMode = '';
if (isDev) {
	envMode = "development";
} else if (isTest) {
	envMode = "testing";
}

const showBanner = import.meta.env.SHOW_BANNER === "true";

const { title } = Object.assign({}, Astro.props, Astro.props.frontmatter);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon-32x32.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
		<title>{ title }</title>
	</head>
	<body>
		<script src="../scripts/mailchimpReferral.js"></script>
		<style is:global>
						@font-face {
				font-family: 'Chaney';
				src: url("/fonts/chaney-regular.woff2") format("woff2"),
					url("/fonts/chaney-regular.woff") format("woff");
				font-weight: 400;
				font-style: normal;
			}

			@font-face {
				font-family: 'PT Sans';
				src: url("/fonts/ptsans-regular.woff2") format("woff2"),
					url("/fonts/ptsans-regular.woff") format("woff");
				font-weight: 400;
				font-style: normal;
			}

			@font-face {
				font-family: 'PT Sans';
				src: url("/fonts/ptsans-bold.woff2") format("woff2"),
					url("/fonts/ptsans-bold.woff") format("woff");
				font-weight: 700;
				font-style: normal;
			}

			@font-face {
				font-family: 'PT Sans';
				src: url("/fonts/ptsans-bolditalic.woff2") format("woff2"),
					url("/fonts/ptsans-bolditalic.woff") format("woff");
				font-weight: 700;
				font-style: italic;
			}

			@font-face {
				font-family: 'PT Sans';
				src: url("/fonts/ptsans-italic.woff2") format("woff2"),
					url("/fonts/ptsans-italic.woff") format("woff");
				font-weight: 400;
				font-style: italic;
			}

			@font-face {
				font-family: 'PT Serif';
				src: url("/fonts/ptserif-regular.woff2") format("woff2"),
					url("/fonts/ptserif-regular.woff") format("woff");
				font-weight: 400;
				font-style: normal;
			}

			@font-face {
				font-family: 'PT Serif';
				src: url("/fonts/ptserif-bold.woff2") format("woff2"),
					url("/fonts/ptserif-bold.woff") format("woff");
				font-weight: 700;
				font-style: normal;
			}

			@font-face {
				font-family: 'PT Serif';
				src: url("/fonts/ptserif-italic.woff2") format("woff2"),
					url("/fonts/ptserif-italic.woff") format("woff");
				font-weight: 400;
				font-style: italic;
			}

			@font-face {
				font-family: 'PT Serif';
				src: url("/fonts/ptserif-bolditalic.woff2") format("woff2"),
					url("/fonts/ptserif-bolditalic.woff") format("woff");
				font-weight: 700;
				font-style: italic;
			}

			.logo-container {
			  display: flex;
			  flex-wrap: wrap;
			  justify-content: center;
			  align-items: center;
			  gap: 20px;
			  max-width: 800px; /* Adjust the maximum width as needed */
			  margin: 0 auto; /* Center the logo container */
			}
			
			.logo-container > div {
			  width: calc(50% - 20px); /* Adjust the width of each logo container */
			  max-width: 250px; /* Limit the maximum width of each logo container */
			}
			
			.logo-container img {
			  width: 100%;
			  height: auto;
			}
			@media only screen and (max-width: 768px) {
			  .logo-container > div {
			    width: calc(100% - 20px); /* Adjust the width of each logo container for smaller screens */
			  }
			}
		</style>
		{ showBanner && <Banner mode={envMode} /> }
		<NavBar />
		<main>
			<div class="max-w-screen-xl mx-auto p-4">
				<h1 class="font-chaney mb-4 text-4xl text-gray-900 md:text-5xl lg:text-6xl dark:text-white">{ title }</h1>
				<slot />
			</div>
		</main>
		{ /* See: https://flowbite.com/docs/getting-started/astro/#include-via-cdn */ }
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js" />
	</body>
</html>
