---
import NavBar from '../components/NavBar.astro';

// Render environment banners when needed.
import Banner from '../components/Banner.astro';
const isDev = import.meta.env.DEV;
const isTest = import.meta.env.IS_TESTING;
let envMode = '';
if (isDev) {
	envMode = "development";
} else if (isTest) {
	envMode = "testing";
}

const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
		<title>{ pageTitle }</title>
	</head>
	<body>
		<style is:global>
			@font-face {
				font-family: 'Chaney';
				src: url("/fonts/chaney-regular.woff2") format("woff2"),
					url("/fonts/chaney-regular.woff") format("woff");
				font-weight: normal;
				font-style: normal;
			}

			.font-chaney {
				font-family: Chaney,Arial,sans-serif;
			}
		</style>
		<Banner mode={envMode} />
		<NavBar />
		<main>
			<div class="max-w-screen-xl mx-auto p-4">
				<h1 class="font-chaney mb-4 text-4xl text-gray-900 md:text-5xl lg:text-6xl dark:text-white">{ pageTitle }</h1>
				<div class="prose">
					<slot />
				</div>
			</div>
		</main>
		{ /* See: https://flowbite.com/docs/getting-started/astro/#include-via-cdn */ }
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js" />
	</body>
</html>
